@model Desafio_Desenvolvimento.Application.Commands.CadastrarProcessoCommand

<h2>Cadastrar Processo</h2>

<form asp-action="Cadastrar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Npu"></label>
        <input asp-for="Npu" class="form-control" />
        <span asp-validation-for="Npu" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Uf"></label>
        <select id="Uf" class="form-control" asp-for="Uf" asp-items="ViewBag.UFs" onchange="carregarMunicipios()" required>
            <option value="">Selecione uma UF</option>
        </select>
        <span asp-validation-for="Uf" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="MunicipioCodigo"></label>
        <select id="MunicipioCodigo" class="form-control" asp-for="MunicipioCodigo" disabled onchange="definirMunicipio()">
            <option value="">Selecione um município</option>
        </select>
        <span asp-validation-for="MunicipioCodigo" class="text-danger"></span>
        <input type="hidden" asp-for="Municipio" />
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-3">Cadastrar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>        
    </div>

    <input type="hidden" id="selectedUf" value="@Model.Uf" />
    <input type="hidden" id="selectedMunicipio" value="@Model.MunicipioCodigo" />
</form>

@section scripts 
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
    <script>
        function carregarMunicipios(ufSelecionado = null, municipioSelecionado = null) {
            var uf = ufSelecionado || $("#Uf").val();
            $("#MunicipioCodigo").prop("disabled", true).empty().append('<option value="">Selecione um município</option>');

            if (uf) {
                $.ajax({
                    url: '/Municipios/' + uf,
                    type: 'GET',
                    success: function (data) {
                        data.forEach(function (municipio) {
                            $('#MunicipioCodigo').append('<option value="' + municipio.id + '">' + municipio.nome + '</option>');
                        });

                        if (municipioSelecionado) {
                            $('#MunicipioCodigo').val(municipioSelecionado);
                        }

                        $("#MunicipioCodigo").prop("disabled", false);
                    },
                    error: function () {
                        console.log("Erro ao buscar municípios");
                    }
                });
            }
        }

        function definirMunicipio() {
            var municipioTexto = $("#MunicipioCodigo option:selected").text();
            $("#Municipio").val(municipioTexto);
        }

        $(document).ready(function () {
            var uf = $("#selectedUf").val();
            var municipioSelecionado = $("#selectedMunicipio").val();

            if (uf) {
                carregarMunicipios(uf, municipioSelecionado);
            }

            $('#Npu').inputmask('9999999-99.9999.9.99.9999');
        });
    </script>
}